* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  background-color: rgb(244, 244, 248);
}

.contenido {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.informacion {
  border-radius: 15px;
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 25px;
  text-align: center;
}

.imagen {
  height: 300px;
  border-radius: 10px;
}

.info {
  background-color: white;
  width: 250px;
  padding: 10px;
  position: relative;
  left: 8%;
}
.titulo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.747);
}

.text {
  position: relative;
  right: 10px;
  width: 250px;
  font-family: "Outfit", sans-serif;
  margin-top: 15px;
}
@media screen and (max-witdh: 400px) {
  .contenido {
    padding: 10px;

  }

  .imagen {
    height: 200px;
  }
  .info{
      padding: 0;
  }
}
